@charset "utf-8";

/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ul, ol {
	list-style: none;
}


h1, h2, h3, h1 a, h2 a, h3 a, h1 a:hover, h2 a:hover, h3 a:hover, h1 a:visited:hover, h2 a:visited:hover, h3 a:visited:hover {
	font-family: 'Effra', Helvetica Neue, HelveticaNeue, Helvetica-Neue, sans-serif;
	margin: 0 0 10px 0;
	color: #7b2b84;
	font-weight: normal;
}

body {
	color: #777777;
    font: 300 14px/1.5 Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 50px;
}

/*JQUERY TOOLS*/
.overlay {
	/* must be initially hidden */
     display: none;
	/* place overlay on top of other elements */
     z-index: 10000;
	/* styling */
    background-color: #fff;
	max-width: 976px;
	min-width: 200px;
	min-height: 10px;
	/* CSS3 styling for latest browsers */
     -moz-box-shadow: 0 0 10px 5px #666;
	-webkit-box-shadow: 0 0 10px #666;
	box-shadow: 0 0 10px 5px #666;
	border-radius: 10px;
	padding: 16px;
}

/* close button positioned on upper right corner */
.overlay .close {
	background: url(../images/close-small.png) no-repeat;
	position: absolute;
	right: 16px;
	top: 16px;
	cursor: pointer;
	height: 16px;
	width: 16px;
	z-index: 10;
}

/* Tooltip Styles */
.tooltip {
	display:none;
	}

.tooltip .wrapper {
    padding: 0px 0px 16px 0px;
    background: url(../images/tool-tip-bg.png) no-repeat center bottom transparent;
    display:inline-block;
}


.tooltip .tooltip-content{
	box-shadow: 1px 1px 5px #ccc;
	width: 160px;
    	padding: 16px 16px 16px 16px;
	border-radius: 5px;
}


.tooltip .wrapper.bottom {
	padding: 16px 0px 0px 0px;
    background-position:center top;
}

.tooltip .wrapper.top {
    padding: 0px 0px 16px 0px;
    background-position:center bottom;
}

.tooltip .wrapper.left {
	padding: 0px 16px 0px 0px;
    background-position:right center;
}

.tooltip .wrapper.right {
	padding: 0px 0px 0px 16px;
    background-position:left center;
}